/* colors : #fb8e63 (orange)
        : #f2e1d9 (pink) */

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins",sans-serif;
    overflow-x: hidden;
}
nav {
    /* display: flex;
    justify-content: center; */
    background-color: #f2e1d9;
    padding: 30px;
    padding-bottom: 10px;
    width: 100%;
    padding-top: 10px;
    text-align: right;
}
.you-may-like{
    text-align: center;
    padding: 0 70px;
    padding-top: 70px;
}
.you-may-like h2 {
    color: #333;
}

.you-may-like p {
    color: #646D77;
    font-weight: 400;
}
.like-row{
    display: flex;
}    

.like-col{
    flex: 33%;
    border: 1px #c5cbd2 solid;
    margin: 30px;
}

.you-may-like img {
    width: 100%;
}

.you-may-like button { 
    background-color: white;
    color: #fb8e63;
    border: 1px #fb8e63 solid;
    padding: 20px;
}
.you-may-like button:hover {
    background-color: #fb8e63;
    color: white;
}
.us{
    display: flex;
    height: 400px;
}

.us-col{
    flex: 60%;
}
.us-col1{
    flex: 50%;
    background-color: #f2e1d9;
    padding: 40px;
    padding-left: 100px;

}

.top {
    position: fixed;
    width: 100%;
}

.desc {
    background-color: #f2e1d9; 
}

button {
    padding: 10px;
    background-color: #fb8e63;
    border: 0;
    color: white;   
}

button a{
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: #e08865;
    cursor: pointer;
}

.top-fig-box{
    background-image: url(printor2.jpg);
    height: 500px;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    padding-top: 100px;
    margin-bottom: 70px;
}


.product-top {
    text-align: center;
    padding-bottom: 20px;
    line-height: 16px;
}

.product-type p{
    text-align: center;
    display: inline;
    padding: 0px 40px;
}

.product-type p:hover{
    cursor: pointer;
}

.product-type p.active {
    padding-bottom: 17px;
    color: #e08865;
    border-bottom: 2px #e08865 solid;
}

/* .product-type p:active{
    color: #e08865;
} */

.product-box {
    text-align: center;
    padding-bottom: 50px;
    border-top: 2px #e7ebf2 solid;
    margin:0  40px ;
}

.product-box img {
    margin: auto;
}

.p1 {
    border: 1px #e7ebf2 solid;
    margin: 20px;
    padding-top: 10px;
}

.p1 a{
    text-decoration: none;
    color: black;
}

.p1 p{
    color: rgb(151, 36, 36);
    font-weight: 700;
}
/* .p1, .p1img, .p1txt,
.p2, .p2img, .p2txt,
.p3, .p3img, .p3txt {
    display: inline-block;
} */


.footer {
    background-color: #232961;
    color: #fff;
    padding: 20px;
    text-align: left;
    bottom: 0;
    width: 100%;
}
.fot-row {
    display: flex;
    padding: 70px 0;
}
.fot-col{
    flex: 20%;
    padding: 20px;
}
.fot-col1{
    flex: 35%;
    padding: 20px;
}
.footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
    color: #fff;
}

.section {
    display: inline-block;
    width: 21%;
    text-align: center;
    padding: 20px;
}
.iconss {
    background-color: #f2e1d9;
    margin-top: 50px;
    padding: 30px 0;
}



.click {
    margin-top: 20px;
    background-color: white;
    padding: 20px 0px 50px 60px;

}

.click p {
    line-height: 25px;
    padding-bottom: 10px;
}

.top {
    display: flex;
}
.logo {
    margin: 0;
    padding: 0;
    background-color: #f2e1d9;
}
nav li {
    list-style: none;
    display: inline;
    padding: 10px; 
}


nav li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
nav li a:hover {
    color: #fb8e63;
}
/* div {
    border: 1px black solid;
    padding: 15px;
    margin: 10px;
} */